header{
    text-align: center;
    height: 90px;
    align-content: center;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: black;
    margin-bottom: 30px;
}

.board{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: antiquewhite;
}

#board-table{
    margin-left: auto;
    margin-right: auto;
}
.cell{
   width: 30px;
   height: 30px;
   border: 2px solid black;
}

#solve-here{
    padding: 8px 17px;
    background: black;
    color: white;
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px;
    margin: 10px 0;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.solve-button{/*centering a button in div element requires this*/
        display: flex;
        justify-content: center;
}
footer{
    margin-top: 20px;
    text-align: center;
    font-size: 5px;
}
